.fill-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(100,100,100,.2);
  transition: width 1s;
}
.fill-bar.incomplete {
  background-color: rgba(100,100,100,.1);
}
.precincts {
  background-color: rgba(200,255,200,.2);
}
.dfl {
  background-color: rgba(100,100,255,.2);
}
.dfl.incomplete {
  background-color: rgba(100,100,255,.1);
}
.gop {
  background-color: rgba(255,100,100,.2);
}
.gop.incomplete {
  background-color: rgba(255,100,100,.1);
}
.card-block {
  position: relative;
}
.btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary:hover, .btn-outline-primary:active:hover {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}
.btn-outline-success:active, .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success:hover, .btn-outline-success:active:hover {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
.btn-outline-success.active:active, .btn-outline-success.active:focus, .btn-outline-success.active:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-outline-primary.active:active, .btn-outline-primary.active:focus, .btn-outline-primary.active:hover {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.list-group {
  max-height: 292px;
  overflow-y: auto;
}
.btn-group-vertical {
  max-height: 297px;
  overflow-y: auto;
}
.winner {
  font-weight: bold;
}
.navbar-offset {
  padding-top: 69px;
}
.countdown {
  color: #fff;
}
.capitalize {
  text-transform: capitalize;
}
.incomplete {
  font-weight: normal;
}
.card-inverse {
  background: #333;
  transition: background 1s;
}
@media (min-width: 575px) and (max-width: 960px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 1300px) {
  .card-columns {
    column-count: 4;
  }
}
@media (min-width: 1700px) {
  .card-columns {
    column-count: 5;
  }
}