.fill-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(100,100,100,.2);
}
.dfl {
  background-color: rgba(100,100,255,.2);
}
.gop {
  background-color: rgba(255,100,100,.2);
}