<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Election Night 2018</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="docs/styles.95d6c74109740d455f0a.css">
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="docs/runtime.ec2944dd8b20ec099bf3.js"></script>
  <script type="text/javascript" src="docs/polyfills.c6871e56cb80756a5498.js"></script>
  <script type="text/javascript" src="docs/main.c3031b42087fb71456ad.js"></script>
</body>

</html>